.Wrapper {
	z-index: 1100;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 24px;
	border-color: teal;
}
.Form {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 500px;
	border: 2px solid teal;
	border-radius: 5px;
	overflow: hidden;
	background-color: #fff;
}
.Input {
	display: inline-block;
	width: 100%;
	font: inherit;
	font-size: 20px;
	border: none;
	outline: none;
	padding-left: 4px;
	padding-right: 4px;
}
.Input::placeholder {
	font: inherit;
	font-size: 18px;
}
.Button {
	display: inline-block;
	width: 48px;
	height: 48px;
	border: 0;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
	cursor: pointer;
	outline: none;
}
.Button:hover {
	opacity: 1;
}
